@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato:wght@100;300;400&family=Open+Sans:wght@700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Berkshire Swash", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;

  margin: 0;
  padding: 0;
}

/* ---- Header Navbar Styles Start ---- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo{
    width: 450px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.logo h2{
    font-size: 2.7rem;
    font-weight: 700;
    color: #0B0223;
}
.logo h2 > span{
    color: #FF42A5;
}

.menu-item{
    display: flex;
    gap: 32px;
    align-items: center;
}
.menu-item ul{
    display: flex;
    gap: 32px;
}
.menu-item li{
    list-style: none;
}
.menu-item li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #3C354F;
}
button{
    padding: 15px;
    border: 0;
    border-radius: 5px;
}
button a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #3C354F;
}
.fa-youtube{
    color: #F61C0D;
    font-size: 22px;
    margin: 0 7px;
    cursor: pointer;
}
.fa-tiktok{
    font-size: 20px;
    cursor: pointer;
}
/* Navbar Style end*/
/*--- Banner Style Start ---*/
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
}
.banner-content h3{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}
.banner-content h1{
    font-size: 6rem;
    font-weight: 800;
    color: #8758F1;
}
.banner-content ul{
    margin: 18px 0 40px 0;
}
.banner-content li{
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    color: #534C64;
    line-height: 1.5;
}
.btn-1, .btn-2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 48px;
    padding: 20px 40px;
    background-color: #FF42A5;
}
.btn-2{
    background-color: #4EC5F7;
    margin-left: 24px;
}

.banner-img img{
    width: 100%;
}
/* Header Styles end */

/* ____ Main Style Start____ */
/* ------ Funny Video- Style Start ------ */
main{
    padding: 0 50px;
}
.funny-video-container{
    margin: 60px 0;
}
.video-title{
    text-align: center;
}
.video-title h2{
    font-size: 3rem;
    font-weight: 700;
    color: #0B0223;
}
.video-title span{
    color: #8658f1d5;
}
.video-title p{
    font-size: 18px;
    font-weight: 400;
    color: #534C64;
    margin: 20px 0 60px 0;
}
.funny-video{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.video-card{
    width: 340px;
}
.video-card img{
    width: 100%;
}
.video-card p{
    font-size: 20px;
    font-weight: 500;
    color: #534C64;
    margin-top: 20px;
}

.watch-icon{
    position: relative;
}
.play-btn{
    color: #fff;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 50%;
}
.play-btn i{
    font-size: 30px;
    margin-left: -10px;
    color: #0B0223;
}
.play-btn p{
    color: #51223a;
    font-size: 20px;
    font-weight: 600;
    margin-left: -50px;
    margin-top: 8px;
}
.watch-icon:hover .play-btn{
    opacity: 1;
    cursor: pointer;
}
.watch-icon:hover img{
    opacity: 0.6;
    cursor: pointer;
}
/* .play-btn{
    display: none;
}
.watch-icon:hover .play-btn{
    display: block;
    position: absolute;
    left: 120px;
    bottom: 100px;
    text-align: center;
} */
/* Funny Video- Style End */

/* ------- Online Games Styles Start ------- */
.online-games{
    display: flex;
    align-items: center;
    margin: 90px auto;
}
.games-img img{
    width: 100%;
}
#small-img{
    position: relative;
}
#small-img img{
    width: 50%;
    position: absolute;
    bottom: -100px;
    left: 400px;
}
.games-content{
    width: 50%;
    margin-left: 200px;
}
.games-content h2{
    width: 425px;
    font-size: 3rem;
    font-weight: 700;
    color: #0B0223;
}
.games-content span{
    color: #8658f184;
}
.games-content p{
    width: 485px;
    font-size: 18px;
    font-weight: 400;
    color: #534C64;
    line-height: 30px;
    margin-top: 25px;
}
/* Online Games Styles End */

/* ---- Games Category Style Start ----- */
.games-category-container{
    padding: 80px 0;
}
.games-item{
    display: flex;
    gap: 20px;
    flex-wrap:wrap;
    justify-content: center;
}
.games-item img{
    width: 40px;
}
.games-item button{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 210px;
    padding: 10px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #fff;
}
.games-item button:hover{
     border: 1px solid #FF42A5;
     color: #FF42A5;
     background-color: #ffffff;
}
/* Games Category Style End */

/* ----- Footer style Start ----- */
.footer{
    padding: 60px 50px;
    background-color: #0B0223;
    text-align: center;
}
.footer-logo{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.footer-logo h2{
    font-size: 2.7rem;
    font-weight: 700;
    color: #FFFfff;
}
.footer-logo h2 > span{
    color: #FF42A5;
}

.footer-menu ul, .footer-icon ul{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px 0;
}
.footer-menu li, .footer-icon li{
    list-style: none;
}
.footer-menu li a, .footer-icon a i{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.footer-category ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;
}
.footer-category li{
    list-style: none;
    font-size: 16px;
    font-weight: 500;
    color: #b59aa8;
}
.footer-name p{
    font-size: 16px;
    font-weight: 500;
    color: #b59aa8;
    margin-top: -10px;
}

/* Footer style End */






/* ----------- Media Query Mobile Devices Start ------------ */
@media screen and (max-width: 600px) {
    nav,
    .menu-item, ul,
    .banner-container,
    .funny-video,
    .online-games
    {
        flex-direction: column;
    }
    nav{
        box-shadow: none;
    }
    .logo{
        width: 100%;
        margin-bottom: 20px;
        justify-content: center;
    }
    .logo img{
        width: 60px;
    }
    .logo h2{
        font-size: 24px;
    }
    .banner-container,
    .online-games
    {
        flex-direction: column-reverse;
        background: none;
    }
    .banner-content{
        background-image: url("../images/Group\ 14.png");
        background-size:contain;
        background-position: right;
        padding: 50px;
        margin: 20px;
    }
    .video-title h2{
        font-size: 1.7rem;
    }
    .video-title p{
        font-size: 16px;
        line-height: 1.7;
        margin-bottom: 40px;
    }
    .video-card p{
        font-size: 16px;
        margin: 18px 0 20px 0;
    }
    .play-btn p{
        margin-left: -40px;
    }


    .online-games{
        gap: 50px;
        margin: 10px;
    }
    .games-content{
        text-align: center;
        width: 100%;
        margin-left: 0;
    }
    .games-content h2{
        width: 100%;
        font-size: 35px;
    }
    .games-content p{
        width: 100%;
        font-size: 14px;
    }
    .games-img{
        width: 100%;
    }
    #small-img img{
        left: 200px;
        bottom: -80px;
    }

    .games-category-container{
        background-color: #fff;
        margin-top: 90px;
    }
    .games-item{
        gap: 0px;
        justify-content: center;
    }
    .games-item img{
        width: 20px;
    }
    .games-item button{
        width: 100px;
        font-size: 10px;
        font-weight: 400;
        gap: 5px;
    }

    .footer-logo{
        width: 100%;
        margin-bottom: 20px;
        justify-content: center;
    }
    .footer-logo img{
        width: 60px;
    }
    .footer-logo h2{
        font-size: 30px;
    }

    .footer-menu ul, .footer-icon ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 30px 0;
    }
    .footer-menu li a, .footer-icon a i{
        font-size: 16px;
    }

    .footer-category ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .footer-category li{
        font-size: 14px;
    }
    .footer-name p{
        font-size: 14px;
        font-weight: 400;
        margin-top: 20px;
        line-height: 30px;
    }
}