@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lato:wght@100;300;400&family=Open+Sans:wght@700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  font-family: "Berkshire Swash", cursive;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Work Sans", sans-serif;

  margin: 0;
  padding: 0;
}

/* ---- Header Navbar Styles Start ---- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.logo{
    width: 450px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.logo h2{
    font-size: 2.7rem;
    font-weight: 700;
    color: #0B0223;
}
.logo h2 > span{
    color: #FF42A5;
}

.menu-item{
    display: flex;
    gap: 32px;
    align-items: center;
}
.menu-item ul{
    display: flex;
    gap: 32px;
}
.menu-item li{
    list-style: none;
}
.menu-item li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #3C354F;
}
button{
    padding: 15px;
    border: 0;
    border-radius: 5px;
}
button a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #3C354F;
}
.fa-youtube{
    color: #F61C0D;
    font-size: 22px;
    margin: 0 7px;
    cursor: pointer;
}
.fa-tiktok{
    font-size: 20px;
    cursor: pointer;
}
/* Navbar Style end*/
/*--- Banner Style Start ---*/
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-image: url("../images/Group\ 14.png");
    background-repeat: no-repeat;
}
.banner-content h3{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}
.banner-content h1{
    font-size: 6rem;
    font-weight: 800;
    color: #8758F1;
}
.banner-content ul{
    margin: 18px 0 40px 0;
}
.banner-content li{
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    color: #534C64;
    line-height: 1.5;
}
.btn-1, .btn-2{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 48px;
    padding: 20px 40px;
    background-color: #FF42A5;
}
.btn-2{
    background-color: #4EC5F7;
    margin-left: 24px;
}

.banner-img img{
    width: 100%;
}
/* Header Styles end */






/* ----------- Media Query Mobile Devices Start ------------ */
@media screen and (max-width: 600px) {
    nav,
    .menu-item, ul,
    .banner-container
    {
        flex-direction: column;
    }
    nav{
        box-shadow: none;
    }
    .logo{
        width: 100%;
        margin-bottom: 20px;
        justify-content: center;
    }
    .logo img{
        width: 60px;
    }
    .logo h2{
        font-size: 24px;
    }
    .banner-container{
        flex-direction: column-reverse;
        background: none;
    }
    .banner-content{
        background-image: url("../images/Group\ 14.png");
        background-size:contain;
        background-position: right;
        padding: 50px;
        margin: 20px;
    }
}